body,
html {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 660px;
    background: url("/images/ctouro-preto-branco.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    height: 170px;
    width: 100%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
}

.col-50 {
    width: 49%;
}

.header-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.text-home {
    color: white;
    top: 10em;
    position: relative;
    line-height: 0.5;
    text-align: left;
    left: 5em;
    width: 605px;
}

.button-gold {
    text-decoration: none;
    color: black;
    background-color: rgba(218, 165, 32, 0.9);
    padding: 10px;
    border: 0;
}

.text-home p {
    margin-bottom: 35px;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 55px;
}

.menu-itens {
    display: inline-block;
    width: 80%;
}

.language-sw {
    display: inline-flex;
    align-items: center;
}

.language-sw img {
    width: 32px;
    margin-right: 4px;
}

.language-sw a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-itens ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-itens li {
    display: inline-flex;
    margin-right: 80px;
    font-size: 18px;
}

.menu-itens a {
    color: white;
    text-decoration: none;
}

.menu-itens a:hover {
    color: #DAA520;
}

.footer-col1 {
    padding-left: 30px;
    width: 45%;
    color: white;
    display: inline-block;
}

.footer-col1 span {
    color: #DAA520;
}

.footer-col2 {
    width: 35%;
    color: white;
}

.footer-col2 p {
    align-items: center;
    display: flex;
}

.footer-col2 span {
    color: #DAA520;
}

.footer-col2 img {
    width: 17px;
    color: white;
    margin-right: 5px;
}

.footer-col3 {
    color: white;
    width: 20%;
}

.footer-col3 img {
    width: 17px;
    margin-right: 5px;
}

.footer-col3 a {
    display: flex;
    align-items: center;
    width: 140px;
}

.contact {
    width: 100%;
    height: 500px;
}

.contact img {
    width: 17px;
}

.col-l {
    width: 49%;
    height: 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.col-r {
    width: 49%;
    height: 500px;
    float: right;
    margin-top: 10px;
}

.contact .col-r {
    line-height: 0.5;
}

.col-r img {
    margin-right: 5px;
}

.col-r p {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 550px;
}

.col-r span {
    font-weight: bolder;
}

.info .col-r p {
    line-height: 1.5;
    height: 100px;
}

.info .col-r {
    height: 400px !important;
}

.info .col-l {
    height: 400px !important;
}

.att {
    margin-top: 15px;
}

.form-contact {
    height: 500px;
    text-align: center;
    width: 542px;
}

.form-contact select {
    display: block;
    padding: 7px;
    width: 540px;
    margin-top: 10px;
    border: solid 1px black;
}

.form-contact input {
    display: block;
    padding: 7px;
    width: 524px;
    margin-top: 10px;
    border: solid 1px black;
}

.form-contact textarea {
    width: 523px;
    height: 70px;
    padding: 8px;
    margin-top: 10px;
}

.form-contact textarea::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.form-contact button {
    margin-top: 10px;
}

.info {
    width: 100%;
    height: 800px;
    text-align: center;
    background-color: red;
}

.info .col-r {
    margin-top: 26px;
}

.products {
    width: 100%;
    height: 500px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-slide {
    width: 80%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.products-slide img {
    width: 225px;
    height: 235px;
    background-color: white;
    margin: 10px;
}